{% extends 'base.html.twig' %}

{% block title %}Załóż konto{% endblock %}

{% block content %}
<div class="container pt-5 pb-5">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="h3 mb-3 mt-5 text-center font-weight-normal">Rejestracja</h1>
    {% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <button type="submit" class="btn btn-primary">Załóż konto</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
